<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @user.name %>, <br/>
      <%= @admin_user.name %> has added you to the user group for <%= @spot.name %>, (<%= @spot.address %>)<br/>
      Thank you.
  </body>
</html>