<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NS Email</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body style="background-color: #111; 
                 color: #f2f2f2; 
                 font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande'">
        <div style="margin: 0 auto; max-width: 600px">
            <div>
                <img src="..."/>
            </div>
            <%= yield %>
            <hr style="border: 1px solid #222; margin: 1em 0;"/>
            <span style="font-style: italic;
                         font-color: #cccccc;">Thank you,</span>
            <address>
                <a href="http://www.thenitespot.com" 
                   style="display:block;
                          font-size: 1.1em;
                          font-style: normal;
                          color: white; 
                          text-decoration: none;">The Nitespot</a>
                <a href="#mailto:info@thenitespot.com"
                    style="color: #cccccc;">info@thenitespot.com</a>
            </address>
        </div>
    </body>
</html>