<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Nitespot</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body style="padding: 1em;
                 color: #333; 
                 font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande'">
        <div style="margin: 0 auto; max-width: 600px">
            <div style="display: block; 
                        width: 350px; 
                        height: auto;
                        margin: 0 auto;
                        padding-bottom: 1em;" >
              <img src="https://www.thenitespot.com/assets/img/layout/nslogo.svg"/>
            </div>
            <%= yield %>
            <hr style="border: 1px solid #f2f2f2; margin: 1em 0;"/>
            <span style="font-style: italic;">Thank you,</span>
            <address>
                <a href="http://www.thenitespot.com" 
                   style="display:block;
                          font-size: 1.1em;
                          font-style: normal;
                          color: white; 
                          text-decoration: none;">The Nitespot</a>
                <a href="#mailto:info@thenitespot.com"
                    style="color: black;">info@thenitespot.com</a>
            </address>
        </div>
    </body>
</html>